name: ci
on:
  pull_request: { branches: [ main ] }
  push: { branches: [ main ] }
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Install (Python ${{ matrix.python-version }})
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -V
      - run: pip -V
      - run: python -c "print('smoke OK')"
